.body {
  background-color: #FDFFFC;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  /* border: 1px dotted #3B1C32; */
  font-family: 'Yeon Sung', cursive;
}

.feat-wrapper {
  display: flex;
}

.feat-wrapper .traits-right {
  display: flex;
  flex-direction: column;
}

.visibility {
  border: 1px solid #333;
  color: #FFB700 !important;
  padding: 1rem;
  background: #001414;
  position: absolute;
  box-shadow: 5px 10px 18px #888888;
  height: 200px;
  width: 50%;
  overflow-y: scroll;
  display: none;
}

.toggle {
  color: #2EC4B6;
  cursor: pointer;
}


/* ----------------------> Code Starts Here <---------------------- */

/* Character Stats - Head */
.character-base-stats {
  display: flex;
}

.character-base-stats .class-name {
  padding-left: 1rem;
  color: #E71D36;
}

.character-base-stats .class-name h1 {
  border-bottom: 3px solid #333;
}

/* Basic Stats */
.character-base-stats .basic-stats {
  display: flex;
  padding: 1rem;

}

.character-base-stats .basic-stats h4 {
  color: #FFB700;
  border-bottom
}

/* Ground Stats */
.character-base-stats .basic-stats .ground-stats-right {
  padding-left: 4rem;
}

.character-base-stats .basic-stats .changeable-stats {
  color: #FFB700;
  padding-top: 1.25rem;
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.character-base-stats .basic-stats .changeable-stats label[for="success"],
.character-base-stats .basic-stats .changeable-stats label[for="fail"] {
  border-bottom: 1.8px solid #333;
  color: #001414;
}

input[type="checkbox"] {
  margin-top: 1rem;
  cursor: pointer;
}

.character-base-stats .basic-stats .notes {
  color: #FFB700;
  padding-top: 1.25rem;
  padding-left: 4rem;
  padding-bottom: 1rem;
}


/* Proficiencies & Languages */
.proficiencies-and-languages h2 {
  color: #E71D36;
}

/* Features Traits & More */
.features-traits-and-more {
  margin-right: 1rem;
}

.features-traits-and-more h2 {
  color: #E71D36;
}

.features-traits-and-more .traits p,
.features-traits-and-more .class-features p,
.features-traits-and-more #eldricht-invocations p,
.features-traits-and-more .attack-modifier p,
.features-traits-and-more .background-features p {
  color: #FFB700;
  border-bottom: 1px solid #001414
}

.features-traits-and-more .attack-modifier {
  border: 2px solid #FFB700;
  padding: 0;
  margin-top: 1rem;
  width: 50%;
  font-weight: 700;
}

.features-traits-and-more .attack-modifier ul {
  list-style-type: none;
}

/* Class Features */
#patron-gavra .ul-wrapper {
  display: flex;
}

#patron-gavra h5 {
  border-bottom: 1px solid #FFB700;
}

.feat-wrapper .traits-right h2 {
  color: #E71D36;
}

/* Spells */
.spells-known {
  display: flex;
}

.spells-known h2 {
  color: #E71D36;
}

.spells-known .spell-wrapper {
  display: flex;
  margin-top: -1rem;
}

.spells-known .spells {
  padding-right: 10rem;
}

.spells-known .spells ul li {
  padding: 0.5rem;
}

.spells-known .cantrip ul li {
  padding: 0.5rem;
}